<template name="nav">
    <nav class="blue-grey darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">SteamCalculator</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{pathFor 'user_profile'}}" class=""><i class="mdi-action-perm-identity"></i></a></li>
                <li><a href="#" class="">Rankings</a></li>
                <li>{{> atNavButton}}</li>
                <li><a href="#"><i class="mdi-navigation-more-vert"></i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">
                    <input id="search" type="search" placeholder="search">
                </a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </nav>
</template>
