<template name="nav">
  <nav class="blue-grey darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a href="{{pathFor 'home'}}" class="brand-logo">SteamCalculator</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{pathFor 'home'}}">HOME</a></li>
        <li><a href="{{pathFor 'faq'}}">FAQ</a></li>
        <li>{{> loginButtons align="right"}}</li>
        {{#if currentUser}}
        <li><a href="{{pathFor 'userdashboard'}}">
          <i class="mdi-action-perm-identity"></i>
        </a></li>
        {{/if}}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{pathFor 'home'}}">HOME</a></li>
        <li><a href="{{pathFor 'faq'}}">FAQ</a></li>
        <li>{{> loginButtons align="right"}}</li>
        {{#if currentUser}}
        <li><a href="{{pathFor 'userdashboard'}}">
          <i class="mdi-action-perm-identity"></i>
        </a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>
